# API

RewriteRule  ^api/?$			api_rest.php		[L]
RewriteRule  ^api/methods/?$		api_methods.php	[L]
RewriteRule  ^api/methods/(.*)/?$	api_method.php?method=$1&%{QUERY_STRING}		[L]
RewriteRule  ^api/rest/(.*)/?$		api_rest.php?method=$1&%{QUERY_STRING}		[L]
