<?php

	$GLOBALS['cfg']['enable_feature_api'] = 1;
	$GLOBALS['cfg']['enable_feature_api_documentation'] = 1;
	$GLOBALS['cfg']['api_per_page_default'] = 100;
	$GLOBALS['cfg']['api_per_page_max'] = 500;

	# Per the fancy API stuff in the .htaccess file
	# $GLOBALS['cfg']['api_abs_root_url'] = 'http://api.example.com/';

?>